@-ms-viewport { width: device-width;}

@-o-viewport { width: device-width;}

@viewport { width: device-width;}

@media (min-width: 1920px) { 

body {
    font-size: 18px;
}

p {
    line-height: 30px;
}

/* Переопределение ширины и положения контента */
.container {
    width: auto;
    padding: 0 auto;
    
    border-left: 1px solid #f2f2f2e0;
    border-right: 1px solid #f2f2f2e0;
}

.header {
    background-color: var(--background-color-inside-header);

    width: 100%;

    position: absolute;
    z-index: 1;
    
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    
    padding: 27px 0 43px;
}

/* Лого для десктопов */
.header__logo-desktop-img {
    display: inline;
}

/* Отключение бургера */
.header-more {
    display: none;
}

.header__wrapper {
    margin-right: 40%;
}

/* Навигация */
.header-navigation {
    width: auto;
}

.header-navigation-list {
    width: 100%;
    display: flex;
    justify-content: center;
        
    text-transform: none;
        
    font-size: 18px;
    font-weight: 400;
}
 
.header-navigation-list__item {
    border: none;
}
.header-navigation-list__item:not(:last-child) {
    padding-right: 120px;
}
.header-navigation-list__item > a{
    color: var(--font-color);
}

/* Промо блок */
.promo {
    height: 853px;

    background-image: 
    url(../images/desktop_promo_hand.png),
    url(../images/desktop_promo_background.png);

    background-position: 70% bottom, left top;
    background-repeat: no-repeat, no-repeat;

    background-size: auto, cover;

    text-align: center;
}

.promo__title {
    text-align: center;

    margin-left: -30%;
    padding-top: 210px;

    font-size: 50px;
    font-weight: 300;
}

/* Секция скачивания */
.promo-download {
    text-align: center;

    margin-left: -30%;
    padding-top: 430px;

    padding-top: 38px;
}

.promo-download__link {
    padding: 10px 50px;

    border: 3px solid white;
    border-radius: 40px;

    color: inherit;

    font-size: 18px;
    font-weight: 700;
}

/* Список платформ */
.promo-download-list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 77px 0 58px;
}
.promo-download-list__item:nth-child(2) {
    margin: 0 35px;
}

.promo-download__text {
    line-height: 24px;

    padding-bottom: 38px;
}

/* Секция особенностей */

.features {
    padding: 58px 0 0;
}

.features__title {
    font-size: 50px;
    font-weight: 300;

    text-align: center;

    margin: 0px 0 72px;
}

.br--delete-for-d {
    display: none;
}

/* Список особенностей */
.features {
    position: relative;
}
/* Фон */
.features__bg {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: #F2F2F2;

    -webkit-clip-path: polygon(0 26%, 100% 20%, 100% 96%, 0 96%);

            clip-path: polygon(0 26%, 100% 20%, 100% 96%, 0 96%);
}


.features-list {
    display: flex;
    justify-content: center;

    margin-top: 373px;
}

.features-list__item-mood {
    position: relative;

    text-align: center;

    background-color: #F2F2F2;
    
    margin-right: 10%;
}
.features-list__item-mood::before {
    content: "";
    display: block;

    background-image: url(../images/features_desktop_img1.png);
    background-size: 308px 382px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    width: 100%;
    height: 382px;
    
    position: absolute;

    bottom: 187px;

    z-index: -1;
}

.features-list__item-world {
    position: relative;

    text-align: center;

    background-color: #F2F2F2;

    margin-right: 10%;
}
.features-list__item-world::before {
    content: "";
    display: block;

    background-image: url(../images/features_desktop_img2.png);
    background-size: 308px 382px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    width: 100%;
    height: 382px;
    
    position: absolute;

    bottom: 187px;

    z-index: -1;
}

.features-list__item-friends {
    position: relative;

    text-align: center;

    background-color: #F2F2F2;
}
.features-list__item-friends::before {
    content: "";
    display: block;

    background-image: url(../images/features_desktop_img3.png);
    background-size: 308px 382px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    width: 100%;
    height: 382px;
    
    position: absolute;

    bottom: 187px;

    z-index: -1;
}

.features-list-item__title {
    min-width: 6ch;
    max-width: 12ch;

    margin: 0 auto;
    padding: 59px 0 30px;

    font-size: 30px;
    font-weight: 700;

    line-height: 30px;
}

.features-list-item__text {
    min-width: 13ch;
    max-width: 24ch;

    line-height: 30px;

    font-size: 18px;
}


/* Подсекция исследований */

.research {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 59px;
}

.research__desktop-img {
    display: block;

    margin: 17px 71px 67px 0; 
}

.research-info__text {
    min-width: 15ch;
    max-width: 51ch;

    margin: 20px 0 30px;
}

/* Ссылка "Узнать больше" */
.research-info__link {
    color: var(--b-font-color);

    transition: 0.5s;
}
.research-info__link--active:hover {
    text-decoration: underline;

    color: #D22856;

    transition: 0.5s;
}

/* Секция отзывов */

.reviews {
    margin: 72px 0 41px;

    text-align: center;

    position: relative;
}

.reviews__img {
    display: inline-block;
}

/* Кнопки для пролистывания отзывов */
.reviews__next {
    position: absolute;
	top: 160px;
    right: 100px;

    display: block;
    content: "";

    border: solid rgba(40, 54, 69, 30%);
    border-width: 2px 2px 0 0;
    background-color: transparent;
	
	height: 30px;
    width: 30px;

	transform: rotate(45deg);
}

.reviews__previous {
    position: absolute;
	top: 160px;
    left: 100px;

    display: block;
    content: "";

    border: solid rgba(40, 54, 69, 30%);
    border-width: 2px 2px 0 0;
    background-color: transparent;
	
	height: 30px;
    width: 30px;

	transform: rotate(-135deg);
}

.review {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    margin-top: 58px;   

    position: relative;
}
	
.review__quote {
    min-width: 15ch;
    max-width: 70ch;

    margin-bottom: 50px;
}

.review__author {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 17px;

    font-style: normal;
}

.review__details {
    font-size: 18px;
    font-weight: 400;
}

/* Секция тарифов */
.tariffs__bg {
    -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
}


.tariffs__table {
    padding: 159px 0 98px;
    margin: 0 auto;

    border-spacing: 0;
}

.tariffs-table__column-title {
    background-color: #283645;
    color: #FFF;

    font-weight: 700;

    width: 233px;
    height: 94px;
}
.tariffs-table__column-title:nth-child(3) {
    border-inline: 1px solid #F2F2F2;

    position: relative;
}

.tariffs-table__column-price {
    font-size: 24px !important;
    font-weight: 300 !important;
}

/* Летночка Хит */
.tariffs-table__column-title--ribbon {
    position: absolute;
    top: 0;

    width: 74px;
    height: 74px;

    background-color: #D22856;    

    -webkit-clip-path: polygon(60% 0, 100% 0, 0 100%, 0 60%);    

            clip-path: polygon(60% 0, 100% 0, 0 100%, 0 60%);
}

.ribbon__text {
    transform: rotate(-48deg);

    margin-top: 13px;
    margin-right: 15px;

    font-size: 14px;
}

.tariffs-table-row__cell {
    border: 1px solid #E5E5E5;

    background-color: #FFF;

    width: 233px;
    height: 59px;

    text-align: center;
}

.tariffs-table__row-title {
    font-size: 18px;

    padding-left: 22px;

    text-align:start;
}

/* Секция контактной информации */
.contacts {
    padding: 74px 0 6px;
}

.contacts-info {
    text-align: center;
}

.contacts-info__title {
    font-size: 50px;
    font-weight: 300;

    line-height: auto;

    margin-bottom: 61px;
}

.contacts-info-list {
    display: flex;
    justify-content: center;
}

.contacts-info-list__item:nth-child(2) {
    order: 1;
}
.contacts-info-list__item:nth-child(3) {
    margin-right: 94px;
    margin-left: 111px;
}

.contacts-info__text {
    font-weight: 700;

    margin-bottom: 34px;
}

.contacts-info-link__tel,
.contacts-info-link__mail,
.contacts-info__address {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;

    color: #D22856;
}

/* Карта */
.contacts-map {
    position: relative;
}

.contacts-map__bg {
    position: absolute;

    background-color: white;
    
    width: 100%;
    height: 100px;

    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);

            clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.contacts-map__item {
    width: 100%;
    height: 500px;

    border: none;
}

/* Подвал */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 69px 130px 83px;
}

.footer__logo-desktop-img {
    display: block;
} 

.footer-socail-list {
    display: flex;
    justify-content: center;

    margin-inline: 25%;
}

.footer-socail-list__item:nth-child(2) {
    margin-inline: 14px;
}

.footer-credit {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-credit__text {
    margin-right: 13px;
}
 
}